/* ─── COMPOSITION ────────────────────────────────────────────────────────── */
.l-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.l-stack > * {
  margin-block: 0;
}
.l-stack > * + * {
  margin-block-start: var(--space, var(--s1));
}

.l-cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--s0));
  justify-content: var(--justify, flex-start);
  align-items: var(--align, center);
}

.l-center {
  box-sizing: content-box;
  max-inline-size: var(--max, var(--measure));
  margin-inline: auto;
  padding-inline: var(--gutters, 0);
}
.l-center[data-and-text] {
  text-align: center;
}

.l-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--s1));
}
.l-switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold, 30rem) - 100%) * 999);
}

.l-grid {
  display: grid;
  gap: var(--space, var(--s1));
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min, 14rem), 100%), 1fr)
  );
}
